.animationContainer {
	position: relative;
	width: 8rem;
	height: 8rem;
	margin: 0 auto;
	padding: 3rem;
}

.animationContainer .animationLoading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	border: solid 0.4rem transparent;
	border-top-color: #dc2626;
	border-left-color: #dc2626;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}
.animationContainer .animationLoading__two {
	position: absolute;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	border: solid 0.4rem transparent;
	border-top-color: #017ae9;
	border-left-color: #017ae9;
	border-radius: 50%;
	animation: spin__two 1.2s linear infinite;
}
@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes spin__two {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}