:root {
	--inputgray: #dddeee80;
	--buttonBlue: #017ae9;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.formField {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.formFields {
	composes: formField;
	gap: 2rem;
}

.label {
	font-weight: 500;
	font-size: 1.8rem;
}

.input {
	outline: 0;
	background-color: var(--inputgray);
	padding: 0 2rem;
	border: none;
	height: 4rem;
	width: 100%;
	border-radius: 4px;
}

.select {
	composes: input;
	border-right: 2rem solid transparent;
}

.checkboxFormFieldDivider {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.checkboxFormFieldDivider > * {
	flex: 1 0 0px;
}

.precedentCheckbox {
	flex: 0 1 2rem;
	height: 2rem;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
}

.sendButton {
	width: 100%;
	height: 5rem;
	outline: none;
	border: none;
	background-color: var(--buttonBlue);
	color: #fff;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.sendButton:hover {
	background-color: #219af9;
}

.radioField {
	display: flex;
	gap: 1rem;
}

@keyframes appearAndFade {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.errorBox {
	color: #ff0000;
	background-color: #ff000020;
	font-weight: 600;
	text-align: center;
	padding: 1rem 2rem;
	animation-name: appearAndFade;
	animation-duration: 5s;
	animation-fill-mode: both;
}

@media (min-width: 480px) {
	.sendButton {
		width: 20rem;
	}
}
