:root {
	--backgroundColor: rgba(221, 222, 238, 0.5);
	--inputColor: #dddeee;
	--backgroundCard: #fafafa;
	--textColor: #dc2626;
	--buttonColor: #017ae9;
	--textColor2: #ffffff;
	--buttonColorSearch: #dc2626;
}
p {
	padding: 0;
	margin: 0;
}
label {
	color: black;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.roles-create__container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: start;
	height: auto;
	background-color: var(--backgroundColor);
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}
.roles-create__form {
	display: flex;
	flex-direction: column;
	background-color: var(--backgroundCard);
	width: 100%;
	height: auto;
	border-radius: 1rem;
	margin-top: 5%;
	padding: 2rem;
}

.roles-create__h2,
.roles-create__h2--title {
	text-align: center;
}

.input-name {
	background-color: var(--inputColor);
	border: none;
	border-radius: 0.5rem;
	width: 100%;

	height: 4rem;
	margin-bottom: 2rem;
	padding: 0 2rem;
}

.input-search {
	composes: input-name;
	margin: 0;
	height: 5rem;
}

.buttons {
	width: 100%;
	display: flex;
	justify-content: end;
}

.button-send {
	margin-top: 2rem;
	background-color: #017ae9;
	height: 5rem;
	width: 100%;
	color: var(--textColor2);
	border: none;
	border-radius: 0.5rem;
	transition: background-color 0.3s;
	cursor: pointer;
}
.button-send:disabled {
	cursor: not-allowed;
	background-color: var(--inputColor);
}

.roles-table__container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--backgroundColor);
	padding: 2rem;
	width: 100%;
}
.roles-table__h2,
.roles-create__h2--title {
	width: 100%;
	background-color: var(--backgroundCard);
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 1rem;
	color: var(--textColor);
	margin-bottom: 2rem;
}

.roles-table__h2 h2 {
	text-align: center;
}
table {
	border: 1px solid var(--backgroundColor);
	border-radius: 1rem;
	width: 100%;
	padding: 1rem;
}
.roles-table {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--backgroundCard);
	padding: 2rem;
	border-radius: 1rem;
	margin: 0 auto;
	gap: 3rem;
}
.roles-search {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;

	gap: 2rem;
}
.roles-table__table {
	width: 100%;
	display: flex;
	flex-direction: column;

	border: 1px solid var(--backgroundColor);
	border-radius: 2rem;
	overflow: auto;
}
.roles-table__thead {
	font-weight: bold;
	width: 100%;
	height: 5rem;
	border-bottom: 1px solid var(--backgroundColor);
	color: var(--textColor);
	display: flex;
	padding: 0 1rem;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.roles-table__header {
	flex: 33% 0 0;
}

.roles-table__tbody {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

.roles-table__row {
	height: 5rem;
	align-items: center;
	text-align: center;
	display: flex;
	justify-content: space-between;
}

.roles-table__row > * {
	flex: 33% 0 0;
}

.roles-table__actions {
	display: flex;
	justify-content: center;
}

.roles-table__action {
	border: none;
	background-color: var(--backgroundCard);
	cursor: pointer;
}
.button-search {
	cursor: pointer;
	width: 100%;
	background-color: var(--buttonColorSearch);
	color: var(--textColor2);
	border: none;
	height: 5rem;
	font-size: 2rem;
	font-weight: 800;
	border-radius: 0.5rem;
	transition: all 0.3s;
}

.button-search:hover {
	background-color: #dc2626d0;
}

.button-search:active {
	color: #dddddd;
	background-color: #c02020;
}

.animation-container {
	position: relative;
	width: 8rem;
	height: 8rem;
	margin: 0 auto;
	padding: 3rem;
}

.animation-container .animation-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	border: solid 0.4rem transparent;
	border-top-color: #dc2626;
	border-left-color: #dc2626;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}
.animation-container .animation-loading__two {
	position: absolute;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	border: solid 0.4rem transparent;
	border-top-color: #017ae9;
	border-left-color: #017ae9;
	border-radius: 50%;
	animation: spin__two 1.2s linear infinite;
}

.table {
	display: flex;
	font-weight: 800;
	width: 100%;
	box-shadow: 0 1px 0 0 #dddddd;
}

.permissions {
	flex: 70% 0 0;
	overflow: auto;
}

.routesHeader {
	box-shadow: 0 1px 0 0 #dddddd;
}

.routes {
	flex: 30% 0 1;
	box-shadow: 1px 0 0 0 #dddddd;
	display: flex;
	flex-direction: column;
}

.routes > * {
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headers {
	display: flex;
	height: 5rem;
	align-items: center;
	width: 200%;
	flex-direction: row;
	justify-content: space-between;
	font-weight: 800;
	box-shadow: 0 1px 0 0 #dddddd;
}

.routeHeader {
	flex: 20% 0 1;
}

.headers > :not(.routeHeader) {
	flex: 0px 1 1;
	text-align: center;
}

.row {
	composes: headers;
	box-shadow: none;
	align-items: center;
}

.row:nth-of-type(2n -1) {
	background-color: var(--backgroundColor);
}

.tableName {
	flex: 20% 0 0;
}

.permissionInput {
	height: 2rem;
	outline: none;
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes spin__two {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}
@media (width >= 355px) and (width <= 600px) {
	.roles-create__container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: start;
		height: auto;
		background-color: var(--backgroundColor);
		max-width: 100%;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.roles-create__form {
		margin-top: 5%;
	}
	.table-permission__thead--options {
		display: flex;
		justify-content: space-between;
	}
	.table-permission__tbody--options {
		display: flex;
		justify-content: space-between;
		margin-left: 0.5rem;
	}
	.table-permission__tbody--input {
		margin-left: -5%;
	}
	.table-permission__tbody--input-edit {
		margin-left: -3%;
	}
	.table-permission__tbody--input-delete {
		margin-right: 2rem;
	}
}
@media (width >= 601px) and (width <= 1024px) {
	.form {
		display: flex;
	}
	.roles-create__container {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: start;
		height: auto;
		background-color: var(--backgroundColor);
		padding: 2rem;
		width: 100%;
	}
	.roles-create__form {
		width: 60%;
		margin-left: 10%;
	}
	.table-permission__thead--options {
		display: flex;
		justify-content: space-between;
	}
	.table-permission__tbody--options {
		display: flex;
		justify-content: space-between;
		margin-left: 0.5rem;
	}
	.table-permission__tbody--input {
		margin-left: -5%;
	}
	.table-permission__tbody--input-edit {
		margin-left: -3%;
	}
	.table-permission__tbody--input-delete {
		margin-right: 2rem;
	}
	.roles-table {
		width: 60%;
		margin: 0 auto;
		margin-top: 2rem;
	}
	.roles-table__container {
		align-items: normal;
	}
	.roles-create__h2--title {
		margin-top: 0%;
		margin-bottom: 0rem;
	}
	.roles-table__h2,
	.roles-create__h2--title {
		margin-left: 25%;
		width: 80%;
		max-width: 30rem;
	}
	.roles-table {
		width: 60%;
	}
	.button-search {
		width: 100%;
		height: 3.9rem;
		max-width: 20rem;
	}
}
@media (width >= 1025px) {
	.roles-create__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		height: auto;
		background-color: var(--backgroundColor);
		padding: 2rem;
		width: 100%;
	}
	.roles-create__form {
		width: 60%;
	}
	.table-permission__thead--options {
		display: flex;
		justify-content: space-between;
	}
	.table-permission__tbody--options {
		display: flex;
		justify-content: space-between;
		margin-left: 0.5rem;
	}
	.table-permission__tbody--input {
		margin-left: -5%;
	}
	.table-permission__tbody--input-edit {
		margin-left: -3%;
	}
	.table-permission__tbody--input-delete {
		margin-right: 2rem;
	}
	.roles-table {
		width: 60%;
		margin: 0 auto;
		margin-top: 2rem;
	}
	.roles-table__container {
		align-items: normal;
	}
	.roles-create__h2--title {
		margin-top: 0%;
		margin-bottom: 0rem;
	}
	.roles-table__h2,
	.roles-create__h2--title {
		margin-left: 20%;
		width: 80%;
		max-width: 30rem;
	}

	.roles-table__tbody,
	.roles-table__thead {
		justify-content: space-between;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.roles-table__tbody--tr {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 480px) {
	.button-send {
		width: 20rem;
	}

	.headers {
		width: 100%;
	}

	.routes {
		box-shadow: none;
	}

	.routes > *:nth-of-type(2n) {
		background-color: var(--backgroundColor);
	}

	.table {
		box-shadow: none;
	}

	.roles-search {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		gap: 4rem;
	}

	.roles-table__actions {
		gap: 2rem;
	}

	.input-search {
		flex: 60% 0 0;
	}
}
