:root {
	--header-font: 'Sora', sans-serif;
	--svg-grey: invert(50%) sepia(24%) saturate(9%) hue-rotate(126deg)
		brightness(97%) contrast(91%);
	--svg-red: invert(31%) sepia(85%) saturate(1684%) hue-rotate(337deg)
		brightness(81%) contrast(117%);
	--red: #dc2626;
}
p,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

.headerText {
	font-weight: 800;
	font-size: 5rem;
	color: var(--red);
}

.headerLogo {
	width: 9rem;
	object-fit: scale-down;
}

.sidebar {
	height: 100%;
	padding: 1.8rem;
	font-family: var(--header-font);
	display: flex;
	position: fixed;
	flex-direction: column;
	font-weight: 600;
	width: 80%;
	color: #818181;
	box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
}

.sidebar > *:not(:last-child) {
	border-bottom: #efefef solid 1px;
	padding-bottom: 1.2rem;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	padding: 1.2rem 0;
}

.itemContainer {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.item {
	height: 5.8rem;
	display: flex;
	align-items: center;
	gap: 2.6rem;
	transition: color 0.3s;
}

.itemLogo {
	width: 3rem;
	height: 3rem;
	filter: var(--svg-grey);
	transition: filter 0.3s;
}

.clickedItemLogo {
	composes: itemLogo;
	filter: var(--svg-red);
}

.clickedItemWithSubmenu {
	composes: item;
	color: var(--red);
}

.itemContent {
	flex: 1 1 0;
}

.arrow {
	width: 1.2rem;
	filter: var(--svg-grey);
	height: 1.2rem;
	transition-property: filter, transform;
	transition-duration: 0.3s;
}

.rotatedArrow {
	composes: arrow;
	transform: rotate(90deg);
	filter: var(--svg-red);
}

.submenu > div {
	overflow: hidden;
}

.hiddenSubmenu > div {
	overflow: hidden;
}

.hiddenSubmenu {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s;
}
.submenu {
	composes: hiddenSubmenu;
	grid-template-rows: 1fr;
}

.submenuItem {
	height: 5.8rem;
	display: flex;
	align-items: center;
	gap: 2.6rem;
	color: var(--red);
}

.submenuItemLogo {
	width: 1.2rem;
	height: 1.2rem;
	filter: var(--svg-red);
}

@media (min-width: 48rem) {
	.header {
		gap: 2.4rem;
	}
	.headerLogo {
		width: 5rem;
	}

	.headerText {
		font-size: 3rem;
	}
	.sidebar {
		width: 20rem;
		position: static;
		overflow: none;
		box-shadow: none;
		font-size: 1rem;
		box-shadow: 1px 0 2px 0 #d0d0d0;
		height: 100vh;
	}

	.item {
		height: 2.5rem;
	}

	.items {
		gap: 1rem;
	}

	.itemLogo {
		width: 2rem;
		height: 2rem;
	}

	.arrow {
		height: 0.8rem;
	}

	.submenuItem {
		height: 2.5rem;
	}

	.submenuItemLogo {
		height: 0.8rem;
	}
}
