.button {
	border: none;
	outline: none;
	font-size: 2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.sendButton {
	composes: button;
	background-color: #e8671e;
	color: #fff;
	height: 4rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
