:root {
	--buttonColor: #0A3F8E;
	--Black: #000000;
}
.label {
	font-weight: bold;
	font-size: 1.8rem;
}
.login-container {
	background: linear-gradient(0deg, rgba(25, 48, 82, 0.80) 0%, rgba(25, 48, 82, 0.80) 100%), url(../../../assets/seminario.webp) lightgray -361.789px -264.42px / 119.156% 158.874% no-repeat;
	background-position:0% ;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
	height: 100vh;
}
.logo-img {
	max-width: 20rem;
}
.login-h3 {
	color: #ffffff;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.login-h2 {
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
}
.login-container__form {
	background-color: #ffffff;
	border-radius: 1.5rem 1.5rem 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 4rem;
	height: 60%;
	margin-bottom: 0;
	gap: 3rem;
}
.login-container__form__title {
	text-align: center;
}

.login-container__form--login {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}
.login-container__user,
.login-container__password {
	display: flex;
	align-items: center;
}

.login-container__submit {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}
.login-input__img {
	width: 3rem;
}
.login-input__username,
.login-input__password {
	border-radius: 2.5rem;
	height: 4rem;
	padding: 0 2rem;
	border: none;
	width: 100%;
}
.login-input__username::placeholder {
	background-size: 2.7rem;
	background-repeat: no-repeat;
	background-position: 0.5rem;
	padding-left: 0.5rem;
}
.login-input__password::placeholder {
	background-size: 2.2rem;
	background-repeat: no-repeat;
	background-position: 0.5rem;
	padding-left: 0.5rem;
}
.login-container__input-submit {
	padding: 1rem;
	border-radius: 2.5rem;
	border: none;
	color: #ffffff;
	background: #0A3F8E;
	font-weight: bold;
	width: 50%;
	cursor: pointer;
}
.login-input__password,
	.login-input__username {
		border:1px solid #E0E4EA;
		border-radius: 0 0.5rem 0.5rem 0;
		width: 100%;
	}
	.login-container__img{
		margin: 0 auto;
	}
	.logo-img {
		margin: 0 auto;
		max-width: 25rem;
	}
	.login-container__select{
		border-radius: 0.5rem;
		background-color: #E0E4EA;
		display: flex;

	}
	.login-container__img--password{
		display: flex;
		border-radius: 0.5rem;
		background-color: #E0E4EA;

	}
	.login-container__select--letter{
		display: flex;
	}
	.login-container__select--letter img{
		width: 3rem;
		object-fit: contain;
	}
	.login-container__select--letter select{
		background-color: #E0E4EA;
		border: none;
		color: #7e7e7e;
	}

.field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.fields {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (width >=700px) and (width <= 900px) {
	.login-container {
		flex-direction: row;
		height: 100dvh;
		justify-content: end;
	}
	.login-container__user,
	.login-container__password {
		display: flex;
		align-items: center;
	}

	.login-h2 {
		visibility: hidden;
	}
	.login-h3 {
		text-align: center;
		font-size: 3rem;
	}
	.login-container__form {
		justify-content: center;
		width: 50%;
		height: 100vh;
	}
	.login-container__form--login {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
	}
}
@media (width >= 901px) {
	
	.login-container {
		flex-direction: row;
		height: 100dvh;
		align-items: center;
		justify-content: end;
	}
	.login-container__user,
	.login-container__password {
		display: flex;
		align-items: center;
	}
	.login-container__form__subtitle{
		text-align: center;
		font-size: medium;
		font-weight: 500;
	}
	.login-h2 {
		visibility: hidden;
	}
	.login-h3 {
		text-align: center;
		font-size: 3rem;
	}
	.logo-img {
		max-width: 40rem;
	}
	.login-container__form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 1.5rem 0 0 1.5rem;
		width: 50%;
		height: 100vh;
		padding: 4rem 10rem;
	}
	.login-container__form--login {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.login-container__form__submit {
		width: 60%;
		position: relative;
	}
	.login-input__img--submit {
		position: absolute;
		z-index: 1;
		width: 2rem;
	}
}
